IMG_NAME=MyRaspi
USE_QCOW2=1
DEPLOY_COMPRESSION=gz
KEYBOARD_KEYMAP=us
LOCALE_DEFAULT=en_US.UTF-8
KEYBOARD_LAYOUT="English (US)"
TIMEZONE_DEFAULT="Asia/Shanghai"
WPA_ESSID="Aessense"
WPA_PASSWORD="Sh888888"
WPA_COUNTRY=CN
ENABLE_SSH=1
STAGE_LIST="stage0 stage1 stage2"

